<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Fugris Target Platform" sequenceNumber="224">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.common.feature.group" version="2.11.0.v20150805-0538"/>
<unit id="org.eclipse.emf.ecore.feature.group" version="2.11.1.v20150805-0538"/>
<unit id="org.eclipse.ecf.core.feature.feature.group" version="1.1.0.v20150810-1719"/>
<unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.10.1.v20150810-1719"/>
<unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.0.0.v20150810-1719"/>
<unit id="org.eclipse.equinox.core.sdk.feature.group" version="3.11.1.v20150831-1342"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.feature.group" version="1.0.0.v20150810-1719"/>
<unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.0.0.v20150810-1719"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.feature.group" version="3.10.1.v20150810-1719"/>
<unit id="org.eclipse.sdk.ide" version="4.5.1.M20150904-0015"/>
<unit id="org.eclipse.e4.core.tools.feature.feature.group" version="4.5.0.v20150818-0640"/>
<unit id="org.eclipse.equinox.p2.user.ui.source.feature.group" version="2.2.101.v20150826-1318"/>
<repository location="http://download.eclipse.org/releases/mars/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.net" version="3.2.0.v201305141515"/>
<unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
<unit id="com.google.guava" version="15.0.0.v201403281430"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20150821153341/repository/"/>
</location>
</locations>
<environment>
<os>win32</os>
<ws>win32</ws>
<arch>x86_64</arch>
</environment>
<launcherArgs>
<vmArgs>-Dlog4j.configuartion=${workspace_loc}/com.fugro.gwf.util.logging/src/log4j.properties</vmArgs>
</launcherArgs>
</target>
